@import "tailwindcss";

:root {
	--primary: #0e8f72;
	--white-1000: #fff;
	--primary-variant: #019e7f;
	--stroke: #f2f2f2;
	--bg: #f7f7f7;
	--text-title: #0d1136;
	--inputbg: #f1f1f1;
	--text-2: #606060;
	--greyinactive: #9e9e9e;
	--red: #f34336;
	--arrows: #323232;
	--hr-line: #dbdbdb;
	--hr-l: #dbdbdb;
	--orange: #f3a736;
	--alert-info: #0c5460;
  /* --font-sans: var(--font-geist-sans); */
  --font-roboto: var(--font-geist-roboto);
  --font-poppins: var(--font-geist-poppins);
  --font-lato: var(--font-geist-lato);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}